target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.impl
*.iml
*.idea*
*.DS_Store
.classpath
.project
.settings/
org.eclipse.*
bin/

#Apple
.DS_Store
node_modules/